@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

@font-face {
    font-family: LeeSeoyun;
    src: local('../font/LeeSeoyun.otf');
}

* {
    margin: 0;
    padding: 0;
    font-family: LeeSeoyun;
}

body {
    text-align: center;
    padding: 30px;
}


button {
    font-family: LeeSeoyun;
    margin: 28px;
    padding: 5px 20px 5px 20px;
    border: black 2px;
    font-size: 24px;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.w-btn-neon2 {
    position: relative;
    min-width: 200px;
    min-height: 50px;
    background: linear-gradient(
        90deg,
        rgba(255, 215, 119,1) 0%,
        rgba(247, 160, 9,1) 100%

    );
    border-radius: 1000px;
    cursor: pointer;

    font-weight: 700;
    transition: 0.3s;
}

.w-btn-neon2:hover {
    transform: scale(1.2);
}

.w-btn-neon2:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #fcb63c;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

