<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://user-images.githubusercontent.com/54930365/194706403-e3cd6125-9560-46ed-9555-ab7900d5ca8c.png">

</head>
<body>
    <div>
        <form action="/<seq>" method="delete">
        <div class="member_login_input">
            <input type="password" name="password" placeholder="비밀번호">
        </div>
        <div class="member_login_btn">
            <input type="submit" class="btn btn-secondary" value="확인" >
        </div>
        </form>
    </div>
</body>
</html>